.image {
  background: url();
 }

 header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #4aaaa5;
  background-color: #ffffff;
  border-bottom: solid #cccccc;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
 }
 h1 {
     background-color: #4aaaa5;
     color: #ffffff;
     width: 10%;
     height: 75px;
     text-align: center;
     font-weight: bold;

 }

 .sections {
     float: right;
     left: -50px;
 }

 .image {
  float: left;
  width: 200px;
  height:250px;
 }
 .summary {
  clear: left;
 }

 footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #666666;
   color: #777777;
   text-align: center;
   border-top: 8px solid #4aaaa5;
 }