
* {
    max-width: 960px;
    padding-left: 20%;
   }
   


   body {
    padding-left: 15%;
    padding-right: 15%;
   }
  
   header {
     font-family: Georgia, 'Times New Roman', Times, serif;
     background: #4aaaa5;
     background-color: #ffffff;
     border-bottom: solid #cccccc;
     width: 100%;
     padding: 0%;
     margin-bottom: 20px;
    }
   
    h1 {
        background-color: #4aaaa5;
        color: #ffffff;
        width: 10%;
        height: 75px;
        text-align: center;
        font-weight: bold;
    }
   
   h2 {
     color: #4aaaa5;
    font-size: 200%;
    font-weight:bold;
    
   }
    .sections {
    float: right;
    margin-top: -5%;
    word-spacing: 20px;
   }
   
   .summary {
     float: left;
     word-break: 
   }
   a:link {
    text-decoration: none;
    color: #777777;
  }
  
  a:visited {
    text-decoration: none;
    color: #777777;
  }
  
  a:hover {
    text-decoration: none;
    color: #777777;
  }
  
  a:active {
    text-decoration: none;
    color: #777777;
  }

   div {
   
   }
   
   
   .image {
    float: left;
    width: 200px;
    height: 250px;
   }
   .summary {
    clear: left;
   }
   
   footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #666666;
     color: #ffffff;
     text-align: center;
     border-top: 8px solid #4aaaa5;
     padding-left: 15%;
     padding-right: 15%;
     height: 10%;
     margin-top: -15px;
   }